div #container {
    width:100%;
    margin:0 auto;
    padding: 0%;
   

}
header {
    width:100%;
    height:70px;
    

}
header img {
    width: 60px;
    height:60px;
    float: left;

}
header span#title {
font-weight: bold;
font-size: 1.5em;
float:left;
padding-top: 20px;
padding-left: 10px;

}
/* to do */
header span#slogan {
    clear:both;
    float:left;
    padding-left: 50px;
    padding-top:40px;
    top: -45px;
    position:relative;
    align:center;
}
header div#search {
    float: right;
    top:-20px;
    margin-right:10px;
    position:relative;
}
header div#search input#nameField {
    width:100px;
    border:1px solid black;
    border-radius: 5px;
}
header div#search input#nameField:focus {
    border:2px solid red;
}
header div#search input#btn-search{
    border-radius:10px;
    color:black;
}
header div#search input#btn-search:hover{
    border-radius:10px;
    color: #fff;
    background-color:#000;
    cursor:pointer;
}
nav{
    
    width:100%;
    height:40px;
    
    float:left;
}
nav ul {
    list-style-type:none;
   /* padding-top:10px;*/
   padding:0;
   margin:0;
   text-align: center;
}
nav ul li {
  display:inline-block;
}
nav ul li a {
    color:turquoise;
    text-decoration:none;
    display: inline-block;
    margin-left:60px;
    height:20px;
    width:60px;
    border:1px solid blue;
}
nav ul li a:hover{
    text-decoration:underline;
    font-weight:bold;
}
aside {
    
    width:25%;
    float:left;
    height:250px;
   
    
}
aside ul {
   
     list-style-type: none;

}
aside ul li {
    display:inline-block;
    margin-top:20px;
    padding-left:20px;
    background-color:blue;
   
    
}
aside ul li a {
display:inline-block;
width:130px;
height:20px;
text-align:center;
text-decoration:none;
color:black;

border-radius:5px;
}
aside ul li a:hover{
  color:white;
  font-size: bold;
   
}

div#products{
    margin-top: 10px;
    width:70%;
    float:left;
    height: 250px;
}
div.card{
width:190px;
height:285px;
text-align:center;
cursor:pointer;
border:1px dashed rgb(32, 66, 178);
float:left;
margin:15px;
align:center;
}
div.card:hover{  
    box-shadow:rgb(211, 211, 211);
}
div.card img{
width: 100px;
height:100px;

}
div.card h3{
font: size 1.2em;
font-weight:bold;
color:blueviolet;
}
div.card p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: x-small;
padding: 10px;
}
div.card p.price {
font-family:'Times New Roman', 'Times', 'serif';
font-size: x-large;
color:blueviolet;

}
div.card button{
width:100%;
height:25px;
background-color:blueviolet;
color:white;
border:none;
}
div.card button:hover{
color:black;
cursor: pointer;
}
footer{
    clear:both;
   
}
footer p.abc {
    text-align:center;
    text-color:black;
    background-color: lightgray;

}
